/* YeyeYeee código aquí */

* {
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
}

.yellow {
	color: rgb(244, 181, 0);
	background-color: rgb(65, 65, 67) !important;
}

.icon-options {
	color: rgb(244, 181, 0) !important;
}

/*----------------------------- HOME ----------------------------------------*/
.section-home {
	background: rgb(65, 65, 67);
	padding-top: 5%;
	height: 100vh;
}

.trans {
	font-size: 160%;
	font-family: 'Roboto Condensed', sans-serif;
}

.btn {
	width: 100%;
	background: rgb(244, 181, 0);
	margin: 2% 0;
}

.footer-home {
	
}

/*---------------------------- options ----------------------------------------*/
.nav-wrapper {
	background: rgb(65, 65, 67);
	font-size: 80%;
}

.section-options {
	background: #dcdddf;
	height: 91vh;
}

.container.options {
	padding-top: 50%;
}