/* YeyeYeee código aquí */

* {
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
	background: #dcdddf;
}

.yellow {
	color: rgb(244, 181, 0);
	background-color: rgb(65, 65, 67) !important;
}

.icon-options, .icon-frecuent {
	color: rgb(244, 181, 0) !important;
}

.active {
	color: rgb(244, 181, 0) !important;
	border: rgb(244, 181, 0) !important;
}

/*----------------------------- HOME ----------------------------------------*/
.section-home {
	background: rgb(65, 65, 67);
	padding-top: 5%;
	height: 100vh;
}

.trans {
	font-size: 160%;
	font-family: 'Roboto Condensed', sans-serif;
}

.btn {
	width: 100%;
	background: rgb(244, 181, 0);
	margin: 2% 0;
}

.btn:hover {
	background: whitesmoke;
	color: rgb(244, 181, 0);
}

.footer-home {
	
}

/*---------------------------- options ----------------------------------------*/
.nav-wrapper {
	background: rgb(65, 65, 67);
	font-size: 80%;
}

/*.section-options {
	background: #dcdddf;
	height: 91vh;
}*/

.container.options {
	padding-top: 50%;
}

.form-validate {
	color: whitesmoke;
}


/*---------------------------------- PROFILE ------------------------------------*/
.header-profile {
	background: rgb(244, 181, 0);
}

.section-profile {
	padding: 5%;
	/*background: #dcdddf;
	height: 57vh;*/
}

.container.foto {
	padding: 5% 0 1% 0;
}

.cont-mail {
	background: white;
	width: 90%;
	margin-left: 5%;
}

.misTarjetas {
	background: whitesmoke;
	margin: 1% 0;
}

/*------------------------------ PREGUNTAS FRECUENTES ---------------------------*/
.header-frecuentes {
	background: rgb(244, 181, 0);
	padding: 5% 0;
	color: white;
}

.section-frecuente {
	padding: 10% 0;
	/*background: #dcdddf;
	height: 68vh;*/
}

.collapsible-body {
	background: whitesmoke;
}

/*----------------------------------- consulta saldo ------------------------*/
.section-saldo {
	padding: 10% 5%;
	/*background: #dcdddf;
	height: 92vh;*/
}

.info-title {
	background: rgb(65, 65, 67);
	color: whitesmoke;
	padding: 2% 0;
	margin-bottom: 0;
}

.info-saldo {
	background: rgb(244, 181, 0);
	color: whitesmoke;
	padding: 2% 0;
	margin-top: 0;
}

/*----------------------------------- tarifa ------------------------*/
.section-tarifa {
	padding: 10% 5%;
	/*background: #dcdddf;
	height: 92vh;*/
}